.blue-icon img {
    max-height: 70px;
    max-width: 80px;

    @media (max-width: 700px) {
        max-height: 60px;
    }

    @media (max-width: 500px) {
        max-height: 50px;
    }
}

.blue-title-icon { 
    position: relative;

    h3 {
        position: relative;
        font-weight: 500;
        letter-spacing: 1px;

        &:after {
            content: '•';
            position: absolute;
            right: -20%;
            top: 0;
            bottom: 0;
            height: 100%;
            margin: auto;
        }

        @media (max-width: 500px) {
            &:after {
                display: none;
            }
        }
    }

    &.last h3:after {
        display: none;
    }
}

.hover-icon {
    display: none;
}

.hover-column {
    position: relative;

    &:before {
        pointer-events: none;
        opacity: 0;
        transition: all 0.1s ease-in-out;
        width: 103%;
        height: 120%;
        background: $light-blue;
        display: block;
        position: absolute;
        top: -5%;
        border-radius: 100%;
        left: -1%;
        right: 0;

        @media (max-width: 1200px) {
            height: 110%;
        }

        @media (max-width: 1200px) {
            height: 100%;
            top: 0%;
        }

        @media (max-width: 990px) {
            height: 110%;
            width: 110%;
            left: -5%
        }

        @media (max-width: 800px) {
            height: 95%;
            width: 120%;
            left: -10%;
            top: 2%
        }
    }
    @media (min-width: 800px) {
        &:hover {
            cursor: pointer;
            .fl-heading-text {
                color: #fff !important;
            }
            .blue-icon {
                display: none;
            }
            .hover-icon {
                display: block;
            }
            &:before {
                opacity: 1;
            }
        }
    }
}