@import "./components/reset";
@import "./components/colorswatch";
@import "./components/utils";

@import "./components/buttons";
@import "./components/header";
@import "./components/icons";
@import "./components/footer";


.speech-bubble {
    position: relative;
    z-index: 0;
    &:after {
        content: '';
        position: absolute;
        bottom: -60px;
        left: 20%;
            display: inline-block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 80px 0 80px 90px;
            border-color: transparent transparent transparent $baby-blue;
            z-index: -10;
    }
}